body {
    font-family: Arial, Helvetica, sans-serif; /*the original game's title is in the font Arial*/
    text-align: center;

}

hr {
    width: 500px; /*this makes the line beneath the title shorter*/
}

#title {
    font-size: 36px; /*the title is 27pt large (on word), whicih is equivalent to 36px when converted*/
    font-weight: bold;
    letter-spacing: 2px; */space between the letters*/
}

#board {
    width: 350px;
    height: 420px;
    background-color: green;
}